{% include 'head.html' %}
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Employees</h1>
            <p class="lead text-muted">
              This is the list of all employees in the Company
            </p>
          </div>
          <a href="http://127.0.0.1:8000/employee/create/">
            Create
          </a>
          
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            {% for x in myEmployees%}
          

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">{{x.name}}</h5>

                    {% if x.title == 'Manager' %}
                  <p class="card-text bg-warning">{{x.title}}</p>
                    {%else%}
                    <p class="card-text">{{x.title}}</p>
                    {%endif%}
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        View
                      </button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        Edit
                      </button>
                  
                    <a href= 'delete/{{x.id}}', type="button" class="btn btn-sm btn-outline-secondary">
                      Delete
                    </a>
                    <a href= 'update/{{x.id}}', type="button" class="btn btn-sm btn-outline-secondary">
                      Update
                    </a>

                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer-->
