{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Star's Website </title>
        <!-- Add favicon -->
        <link rel = "icon" href ="{% static 'images/piggy.jpg' %}">
        <!-- Link css file -->
        <link rel="stylesheet" href="{% static 'css/style_2.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/93309c010e.js" crossorigin="anonymous"></script>

    <header id="header_here" class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li id="navbar_here" ><a href="#" class="nav-link px-3 link-body-emphasis">Overview</a></li>
              <li><a href="#" class="nav-link px-3 link-body-emphasis">Inventory</a></li>
              <li><a href="#" class="nav-link px-3 link-body-emphasis">Customers</a></li>
              <li><a href="#" class="nav-link px-3 link-body-emphasis">Products</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </head>


    <body>
        <br>
        <div class="work_gallery">
            <i id="appName" class="fa-solid fa-star fa-2x"><a style="text-decoration:none; color:inherit;" href = "{% url 'list_todos' %}"> Todo App</a></i>
          </div>
        <div class="work_gallery">
          <i id="appName" class="fa-solid fa-star fa-2x"><a style="text-decoration:none; color:inherit;" href = ""> Blog Web</a></i>
        </div>
        <div class="work_gallery">
          <i id="appName" class="fa-solid fa-star fa-2x"><a style="text-decoration:none; color:inherit;" href = ""> Blog app</a></i>
        </div>
    </body>
</html>